__pycache__
solution-generator/engine/.env
solution-generator/engine/alo_engine/*
solution-generator/engine/gen_solution/langgraph_artifacts/*
solution-generator/engine/adapt_data/langgraph_artifacts/*
solution-generator/interface/*
solution-generator/py310_venv/*
solution-generator/models/*
solution-generator/py310_venvrequirements.txt
solution-generator/.workspace/*
solution-generator/inference_artifacts/*
solution-generator/train_artifacts/*
solution-generator/results/*

solution-generator/.python-version
solution-generator/.vscode/*
solution-generator/tmp_py.py
solution-generator/tmp_req.txt
.vscode/launch.json
Pipfile
solution-generator/engine/alo_engine.package_list/installed_packages.txt
