assets/
.train_artifacts/
.inference_artifacts/
.history/
.asset_interface/
input/
solution/
__pycache__/
.vscode/
Dockerfile
.sagemaker
scripts/creating_ai_solution/interface/
scripts/creating_ai_solution/alo/
scripts/creating_ai_solution/Dockerfile
scripts/creating_ai_solution/solution_metadata.yaml
alolib/
solution_requirements.txt
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
.register_*/
solution_metadata.yaml
